@use "../global/pubg.variable" as *;
@use "../base" as *;


$dim-zindex: 1400;
$modal-zindex: 1500;
$question-message-xbox-modal-zindex: 1600;

.pubg-dim {
    @extend %ordo-modal-style-dim;
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1011;
    &.show {
        display: block !important;
        animation: dimMotion 0.3s forwards;
    }
    &.show-flex,
    &.match {
        display: flex !important;
        justify-content: center;
        align-items: center;
        animation: dimMotion 0.3s forwards;
    }
}

.pubg-blind {
    @extend .animate;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    &.show {
        background-color: rgba(0, 0, 0, 0.7);
        pointer-events: auto;
    }
}

@keyframes dimMotion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.progress-box {
    box-sizing: border-box;
    width: calc_vh(700vh);
    padding: calc_vh(18vh) calc_vh(37vh) calc_vh(18vh);
    position: absolute;
    bottom: calc_vh(40vh);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(33, 33, 33, 0.8);

    .state {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        span {
            font-size: calc_vh(25vh);
            font-weight: 400;
        }
        i {
            font-size: calc_vh(27vh);
        }
    }

    .progress {
        margin-top: calc_vh(5vh);
        border: calc_vh(2vh) solid #212121;
        background-color: #212121;
        .bar {
            display: block;
            height: calc_vh(9vh);
            background-color: $point_color;
        }
    }
    .state-msg {
        @extend .pubg-font;
        color: $point_color;
        font-size: calc_vh(40vh);
        text-align: center;
        font-weight: 700;
    }
}

/* DIALOG */
.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    padding: 0 calc_vh(40vh);
    top: calc_vh(0vh);
    font-size: calc_vh(38vh);
    position: absolute;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, 0);
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;

    .spinner-loading {
        display: none;
    }
    &.spinner {
        .spinner-loading {
            display: inline-block;
        }
    }
}

/* PUBG-MODAL */
.pubg-modal {
    width: calc_vh(700vh);
    border-top: 1px solid #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: zoomInCenter 0.3s forwards;

    h3 {
        height: calc_vh(100vh);
        line-height: calc_vh(100vh);
        font-size: calc_vh(54vh);
        text-align: center;
        color: #fff;
    }

    .msg-text {
        padding: calc_vh(20vh);
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
        font-size: calc_vh(34vh);
    }

    ul {
        width: calc_vh(528vh);
        margin: 0 auto;
        li {
            @extend .animate;
            display: block;
            height: calc_vh(58vh);
            line-height: calc_vh(58vh);
            font-size: calc_vh(34vh);
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            &:first-child {
                margin-top: 0;
            }
            &:hover,
            &.gamepad-on {
                cursor: pointer;
                color: rgba(0, 0, 0, 1);
                background-color: rgba(255, 255, 255, 1);
            }

            &.selected {
                color: $point_color;
            }
        }
    }

    .padkeyarea {
        margin-top: calc_vh(30vh);
        text-align: center;
        .padkey ~ .padkey {
            margin-left: calc_vh(70vh);
        }
    }
}
/* //PUBG-MODAL */

.pubg-modal-alert {
    @extend %ordo-modal-style-bg;
    z-index: $modal-zindex;
    min-height: calc_vh(370vh);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    header {
        margin-bottom: auto;
        margin-top: auto;
        p {
            font-weight: 400;
            font-size: calc_vh(30vh);
            color: #c3c3c3;
        }
    }

    h3.stit,
    .desc {
        text-align: center;
    }
    h3.stit {
        @extend %ordo-modal-style-title-wide;
    }
    .desc {
        display: flex;
        align-items: center;
        flex: 1;
        margin-top: calc_vh(6vh);
        font-size: calc_vh(30vh);
        font-weight: 400;
        color: #c3c3c3;
    }
    .msg-text {
        display: block;
        width: calc_vh(1300vh);
        font-weight: 400;
        color: #c3c3c3;
        text-align: center;
        font-size: calc_vh(30vh);
        .highlight {
            font-size: calc_vh(36vh);
            color: #ffc600;
            font-weight: bold;
        }
    }
    .cnt-area {
        @extend %ordo-modal-style-content;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        min-height: calc_vh(116vh);
    }

    .cnt-area {
        ul.item-list {
            display: flex;
            justify-content: center;
            margin-top: calc_vh(30vh);
            li {
                display: inline-block;
                margin: 0 calc_vh(12vh);
                .block {
                    width: calc_vh(200vh);
                    height: calc_vh(200vh);
                }
                .bp,
                .xp {
                    bottom: calc_vh(8vh) !important;
                    font-size: calc_vh(38vh);
                    line-height: calc_vh(50vh);
                }
                .item-nm {
                    width: calc_vh(200vh);
                    margin-top: calc_vh(10vh);
                    font-size: calc_vh(20vh);
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    .cnt-padkeyarea {
        margin-top: calc_vh(40vh);
    }

    img.item-thumb {
        display: block;
        width: calc_vh(196vh);
        height: calc_vh(196vh);
        margin: calc_vh(20vh) auto 0 auto;
        border: calc_vh(2vh) solid #494949;
        background-color: #1b1b1d;
    }
    .pubg-btn-group {
        @extend %ordo-modal-style-button;
        margin-top: 0;
    }
    .pubg-btn-group.ta-c {
        .btn-co {
            margin: 0 calc_vh(7vh) 0;
        }
    }
    .msg-text.lg {
        font-size: calc_vh(60vh);
        color: #fff;
    }

    &.show {
        display: flex;
    }

    .padkeyarea {
        justify-content: center;
    }

    &.question-message-xbox {
        z-index: $question-message-xbox-modal-zindex;
    }
}

.pubg-modal-alert.full-screen {
    height: 100%;
    max-height: 100%;
    &:after {
        display: none;
    }
}

@keyframes pubg-modal-alert {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scaleY(0.7);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scaleY(1);
    }
}

/* PUBG-MODAL
.pubg-modal.sm {
    width: calc_vh(522vh);
    h3 {font-size: calc_vh(68vh);}
    ul li {
        a {height: calc_vh(48vh); line-height: calc_vh(48vh); font-size: calc_vh(28vh);}
        &:first-child {margin-top: 0;}
    }
    .padkeyarea {margin-top: calc_vh(26vh);}
}
//PUBG-MODAL */

.pubg-selectregion .list li {
    font-weight: 700;
    font-size: calc_vh(30vh);
}
.pubg-selectMode {
    width: calc_vh(895vh);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%) scale(1.4);
    animation: zoomInCenter 0.3s forwards;
    opacity: 0;

    .cnt {
        padding-bottom: calc_vh(20vh);
        border-top: 3px solid transparent;
        border-bottom: 1px solid transparent;

        h3 {
            height: calc_vh(98vh);
            padding: calc_vh(25vh) 0 0 0;
            font-size: calc_vh(56vh);
            box-sizing: border-box;
            text-align: center;
        }
    }

    .modebox {
        width: calc_vh(865vh);
        height: calc_vh(122vh);
        padding: calc_vh(15vh) calc_vh(29vh) calc_vh(0vh) calc_vh(29vh);

        box-sizing: border-box;

        dt {
            font-size: calc_vh(30vh);
        }
        dd {
            margin: calc_vh(12vh) 0 0 0;
            display: flex;
            .sqtype {
                margin: 0 0 0 calc_vh(10vh);
                flex: auto;
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &.selected {
            dt {
                color: $point_color;
            }
            background-size: cover;
        }
    }

    .padkeyarea {
        margin: calc_vh(30vh) 0 0 0;
    }

    [class*="padkey-"] {
        margin: 0 0 0 calc_vh(30vh);
        &:first-child {
            margin-left: 0;
        }
    }
}

@keyframes zoomInCenter {
    from {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.career-popup {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $modal-zindex;
    transform: translate(-50%, -50%);
    width: 93.5%;
    padding: calc_vh(30vh) calc_vh(45vh);
    border: calc_vh(3vh) solid #fff;

    &.ask {
        z-index: 1000;
    }
}

//=================하단은 PC와 완전 동일=================//
.pubg-crateModal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $modal-zindex;
    transform: translate(-50%, -50%);
    animation: zoomInCenter 0.3s forwards;

    &.hideMotion {
        animation: zoomInCenter-reverse 0.3s forwards;
    }

    .cnt {
        border-top: 3px solid transparent;

    }

    .header {
        padding: calc_vh(25vh) 0 0 0;
        text-align: center;
        h3 {
            font-size: calc_vh(56vh);
            line-height: 1;
            &.sm {
                font-size: calc_vh(44vh);
            }
        }
        .menu-control {
            margin: calc_vh(10vh) 0 0 0;
        }
        h4 {
            font-size: calc_vh(45vh);
            line-height: 1.5;
            &.sm {
                font-size: calc_vh(30vh);
            }
        }
        h4 {
            font-size: calc_vh(45vh);
            line-height: 1.5;
            &.sm {
                font-size: calc_vh(30vh);
            }
        }
        .menu-control {
            margin: calc_vh(10vh) 0 0 0;
        }
    }
    .padkeyarea {
        margin: calc_vh(30vh) 0 0;
    }

    [class*="padkey-"] {
        margin: 0 0 0 calc_vh(30vh);
        &:first-child {
            margin-left: 0;
        }
    }
}

.pubg-crateModal.preview-crate {
    width: calc_vh(1030vh);

    .header {
        p {
            font-size: calc_vh(21vh);
            color: rgba(255, 255, 255, 0.6);
        }

        nav {
            margin-top: calc_vh(10vh);
            a {
                display: inline-block;
                margin: 0 calc_vh(14vh) 0;
                font-size: calc_vh(32vh);
                color: rgba(255, 255, 255, 0.6);

                &:hover {
                    color: #eee;
                }
                &.selected {
                    color: #ffc600;
                }
            }
        }
    }

    .list-content {
        position: relative;
        min-height: calc_vh(500vh);
    }
    .cratebox {
        position: absolute;
        top: 0;
        left: calc_vh(-280vh);
        img {
            width: calc_vh(214vh);
        }
    }

    .side {
        .block {
            margin-top: calc_vh(15vh);
            &:nth-of-type(1) {
                margin-top: 0;
            }
        }

        p.desc {
            margin: calc_vh(7vh) 0 calc_vh(2vh) 0;
            text-align: right;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
        }

        ol {
            margin: calc_vh(-10vh) 0 0 calc_vh(-10vh);
            li {
                position: relative;
                box-sizing: border-box;
                float: left;
                width: calc_vh(94vh);
                height: calc_vh(94vh);
                margin: calc_vh(10vh) 0 0 calc_vh(10vh);
                border: 1px solid rgba(255, 255, 255, 0.6);
                cursor: pointer;
                background-color: rgba(0, 0, 0, 1);

                img {
                    width: 100%;
                    vertical-align: top;
                }
                .tip {
                    transform: translate(-50%, 0);
                    left: 50%;
                    &:after {
                        left: 50%;
                        margin: 0 0 0 calc_vh(-6vh);
                    }
                }

                &:hover {
                    border-color: #fff;
                }
            }
        }
    }

    .pubg-btn-group {
        color: rgba(255, 255, 255, 0.6);
        font-size: calc_vh(16vh);
        // .msg {font-family: 'robotocd'; font-weight: 400;}
    }
}

.pubg-crateModal.receive-crate {
    width: calc_vh(742vh);

    .crate-wrap {
        display: flex;
        justify-content: space-around;
    }
    .cratebox {
        opacity: 0.3;
        box-sizing: border-box;
        position: relative;
        width: calc_vh(363vh);
        height: calc_vh(466vh);
        border: 1px solid transparent;
        &.gamepad-on {
            opacity: 1;
        }
        .crate-header {
            box-sizing: border-box;
            height: calc_vh(185vh);
            padding-top: calc_vh(30vh);
            text-align: center;
            .stit {
                font-size: calc_vh(46vh);
            }
            // p {margin-top: calc_vh(10vh); font-weight: 400;}
        }

        figure.img {
            display: block;
            text-align: center;
            img {
                width: calc_vh(226vh);
                height: calc_vh(183vh);
            }
        }

        .player-bp {
            position: absolute;
            right: calc_vh(26vh);
            bottom: calc_vh(23vh);
            line-height: 1;
            text-align: right;
            margin: calc_vh(15vh) 0 0 0;
            font-size: calc_vh(38vh);
            span {
                padding: 0 calc_vh(10vh) 0 0;
                color: $point_color;
            }
        }
    }
    .cratebox.selected {
        opacity: 1;
    }
}

.pay-crate {
    display: inline-block;
    text-align: center;
    .keybox {
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        width: calc_vh(260vh);
        height: calc_vh(260vh);
        border: 1px solid #fff;
        background-color: rgba(0, 0, 0, 1) !important;

        .num {
            position: absolute;
            top: calc_vh(15vh);
            right: calc_vh(15vh);
            font-size: calc_vh(30vh);
        }

        .lock {
            position: absolute;
            display: inline-block;
            top: calc_vh(15vh);
            right: calc_vh(15vh);
            width: calc_vh(18vh);
            height: calc_vh(24vh);

            background-size: cover;
        }
        img {
            @extend .animate;
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }

    .keybox.key {
        margin: 0 calc_vh(52vh) 0 0;
    }
    .keybox.sm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc_vh(170vh);
        height: calc_vh(170vh);
        border-color: rgba(255, 255, 255, 0.6);
        img {
            width: 100%;
        }
    }

    .keyblock {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc_vh(30vh);
            height: calc_vh(30vh);
            transform: translate(-50%, -50%);
            margin: 0 0 0 calc_vh(47vh);

            background-size: cover;
        }
    }

    p[class*="msg-"] {
        font-weight: 400;
    }

    .msg-attention {
        display: none;
        color: $point_color;
        &:before {
            content: "";
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: calc_vh(26vh);
            height: calc_vh(23vh);
            top: calc_vh(-2vh);
            color: #cf0f00;

            background-size: cover;
        }
    }

    .info-block {
        margin-top: calc_vh(20vh);
        padding: calc_vh(20vh) 0;
        background-color: rgba(255, 255, 255, 0.2);

        .pubg-btn-group {
            .use {
                opacity: 1 !important;
            }
            .buy {
                opacity: 0.4;
            }
        }
    }
}

.pay-crate .crate-wrap.none-key {
    .keybox.key {
        border-color: #fff;
        .num i {
            color: #cf0f00;
        }
        img {
            opacity: 0.4;
        }
    }

    .msg-default {
        display: none !important;
    }
    .msg-attention {
        display: block !important;
    }

    .group-btn {
        .use {
            display: none;
        }
        .buy {
            display: inline-block;
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.pay-crate .crate-wrap.single-crate {
    .keyblock:after,
    .lock {
        display: none;
    }

    .keyblock .keybox {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
            height: 80%;
        }
    }
}

.pubg-crateModal.bonus {
    width: calc_vh(440vh);
    h3 {
        line-height: 1;
    }
    .crate-wrap {
        p {
            padding: 0 0 calc_vh(7vh) 0;
            color: rgba(255, 255, 255, 0.6);
            font-size: calc_vh(22vh);
        }
        .input-code {
            box-sizing: border-box;
            width: 100%;
            height: calc_vh(44vh);
            line-height: calc_vh(44vh);
            padding: 0 calc_vh(16vh);
            border: 1px solid #fff;
            font-size: calc_vh(26vh);
            color: #fff;
            &::-webkit-input-placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

.pubg-receive-item-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1100;
}
.pubg-receive-item-wrap .padkeyarea {
    justify-content: center;
}

.pubg-crateModal.receive-item {
    .crate-wrap {
        text-align: center;
        ul {
            display: flex;
            font-size: 0;
            justify-content: center;

            li:nth-of-type(5n + 1) {
                margin-left: 0;
            }
            li {
                float: left;
                position: relative;
                display: block;
                width: calc_vh(282vh);
                height: calc_vh(380vh);
                text-align: center;
                opacity: 0;
                margin: 0 0 0 calc_vh(30vh);

                &.block .box {
                    display: block;
                } /* 셋타임아웃으로 stagger 실행 */
                .box {
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                .thum {
                    position: relative;
                    width: calc_vh(342vh);
                    height: calc_vh(342vh);
                    transform: scale(0.6);
                    margin-left: auto;
                    margin-right: auto;
                    .count {
                        position: absolute;
                        bottom: calc_vh(40vh);
                        right: calc_vh(40vh);
                        font-size: calc_vh(34vh);
                        font-weight: 400;
                    }
                }

                .thum-before,
                .thum-after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc_vh(342vh);
                    height: calc_vh(342vh);
                    transform-origin: 0 0;
                }
                .thum .back-grow {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc_vh(500vh);
                    height: calc_vh(500vh);
                    transform-origin: 0 0;
                }

                .shine {
                    position: relative;
                    width: calc_vh(342vh);
                    height: calc_vh(342vh);
                }
                .item {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc_vh(240vh);
                    height: calc_vh(240vh);
                }
                .item-name {
                    position: relative;
                    height: calc_vh(70vh);
                    margin-top: calc_vh(-10vh);
                    line-height: 1.2;
                    color: #fff;
                    font-size: calc_vh(20vh);
                    font-weight: bold;
                    opacity: 0;
                    transform: translate(0, calc_vh(70vh));
                }

                .item-name.player-bp {
                    font-size: calc_vh(34vh);
                    span {
                        display: inline-block;
                        padding-right: calc_vh(10vh);
                        color: $point_color;
                    }
                    &.sm {
                        font-size: calc_vh(22vh);
                    }
                }

                .currency-item-name {
                    position: relative;
                    color: #fff;
                    font-size: calc_vh(30vh);
                    font-weight: bold;
                }

                .currency-item-price {
                    position: relative;
                    color: #8b8b8b;
                    font-size: calc_vh(26vh);
                    font-weight: bold;
                }

                .currency-item-desc {
                    position: relative;
                    color: #fff;
                    font-size: calc_vh(30vh);
                    font-weight: bold;
                    width: calc_vh(1500vh);
                }

                .on-shop-key {
                    padding: calc_vh(16vh);
                    margin-top: calc_vh(15vh);
                    width: calc_vh(242vh);
                    border-radius: calc_vh(35vh);
                }



                .thum.basic .thum-before,
                .thum.event .thum-before,
                .thum.common .thum-before,
                .thum.basic .thum-after,
                .thum.event .thum-after,
                .thum.common .thum-after {
                }

                .thum.classic .thum-before,
                .thum.classic .thum-after {

                    background-size: cover;
                }

                .thum.special .thum-before,
                .thum.special .thum-after {

                    background-size: cover;
                }

                .thum.rare .thum-before,
                .thum.rare .thum-after {

                    background-size: cover;
                }

                .thum.elite .thum-before,
                .thum.elite .thum-after {

                    background-size: cover;
                }

                .thum.epic .thum-before,
                .thum.epic .thum-after {

                    background-size: cover;
                }

                .thum.legendary .thum-before,
                .thum.legendary .thum-after {

                    background-size: cover;
                }

                .thum.ultimate .thum-before,
                .thum.ultimate .thum-after {

                    background-size: cover;
                }

                .thum.basic .back-grow,
                .thum.event .back-grow,
                .thum.common .back-grow {
                }
                .thum.classic .back-grow {

                    background-size: cover;
                }
                .thum.special .back-grow {

                    background-size: cover;
                }
                .thum.rare .back-grow {

                    background-size: cover;
                }
                .thum.elite .back-grow {

                    background-size: cover;
                }
                .thum.epic .back-grow {

                    background-size: cover;
                }
                .thum.legendary .back-grow {

                    background-size: cover;
                }
                .thum.ultimate .back-grow {

                    background-size: cover;
                }

                /*  ANIMATION */
                animation: crate-stagger 0.3s forwards linear;
                .thum {
                    animation: crate-scale 0.3s forwards linear;
                }
                .thum .thum-before {
                    animation: crate-scaleInfinite1 2s alternate infinite linear;
                }
                .thum .thum-after {
                    animation: crate-scaleInfinite2 2.5s alternate infinite linear;
                }
                .shine {
                    animation: crate-shine 0.6s steps(16);
                }
                .thum .back-grow {
                    animation: crate-backGrow 0.6s alternate linear infinite;
                }
                .item-name {
                    animation: crate-opacityMotion 0.2s forwards linear;
                }
            }
        }
        button.btn-co,
        .btn-co {
            width: calc_vh(280vh);
            margin: 0 auto;
        }
        ul + .pubg-btn-group {
            margin-top: 0;
        }
    }
    .item-desc {
        font-size: calc_vh(24vh);
        text-align: center;
    }
    .item-desc {
        font-size: calc_vh(24vh);
        text-align: center;
    }
    .paging {
        padding-top: calc_vh(30vh);
        span {
            display: inline-block;
            padding-top: calc_vh(5vh);
            border-top: 1px solid #414241;
            color: #ffd986;
            font-size: calc_vh(25vh);
            font-weight: 400;
        }
    }
}

.wrapper.pubg-ps4,
.wrapper.pubg-xbox,
.wrapper.pubg-stadia {
    .pubg-modal-loadpreset {
        z-index: $modal-zindex;
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc_vh(930vh);
        padding: calc_vh(36vh) calc_vh(40vh) calc_vh(39vh) calc_vh(40vh);
        border: 1px solid #3b3b3b;
        background-color: #212124;
        animation: pubg-square-modal 0.2s both;

        h3.stit {
            text-align: center;
            font-size: calc_vh(60vh);
        }

        .boardWrap-v2 {
            margin-top: calc_vh(32vh);
            margin-bottom: calc_vh(56vh);

            .thead {
                margin-bottom: calc_vh(2vh);
            }
            .thead,
            .tbody {
                ul {
                    li {
                        box-sizing: border-box;
                    }
                    li .cell:nth-of-type(1) {
                        flex: 6;
                        padding-left: calc_vh(20vh);
                        justify-content: flex-start;
                    }
                    li .cell:nth-of-type(2) {
                        flex: 3;
                        padding: 0;
                        text-align: center;
                    }
                    li .cell:nth-of-type(3) {
                        flex: 3;
                        text-align: center;
                    }
                }
            }

            .tbody {
                height: auto;
                ul {
                    height: calc_vh(500vh);
                    li.no-entry {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: calc_vh(500vh);
                        text-align: center;
                        pointer-events: none;
                    }
                }
            }
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: calc_vh(2vh);
            position: absolute;
            top: -1px;
            left: 0;

            background-size: 100% calc_vh(2vh);
        }

        &.show {
            display: flex;
        }
        .pubg-accessInfo {
            right: auto;
            .disabled {
                opacity: 0.3;
            }
        }
    }
}

.pubg-modal-savepreset {
    display: none;
    .input-focus {
        position: relative;
        display: inline-block;
        min-width: calc_vh(760vh);
        height: calc_vh(64vh);
        line-height: calc_vh(64vh);
        background-color: #333;

        .input {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 0 calc_vh(25vh);
            background-color: transparent;
            font-size: calc_vh(38vh);
            color: #fff;
            font-weight: 400;
        }

        &.selected:after {
            pointer-events: none;
            display: block;
            box-sizing: border-box;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: calc_vh(4vh) solid $point-color;
        }
    }
    &.show {
        display: flex;
    }
    .pubg-accessInfo {
        .disabled {
            opacity: 0.3;
        }
    }
}

.pubg-crateModal.receive-item {
    ul.multiline {
        flex-wrap: wrap;
        width: calc_vh(1410vh);
    }
    ul.multiline li {
        transform: scale(0.85);
        margin: 0 0 calc_vh(-60vh) 0;
    }
}

/* KEYFRAMES: CRATE SKIN */
@keyframes crate-scale {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes crate-opacityMotion {
    0% {
        opacity: 0;
        transform: translate(0, calc_vh(20vh));
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes crate-scaleInfinite1 {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes crate-scaleInfinite2 {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes crate-backGrow {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes crate-shine {
    100% {
        background-position: calc_vh(-5472vh);
    }
}

@keyframes crate-stagger {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.block-map {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: calc_vh(1090vh);
    padding: calc_vh(30vh) calc_vh(35vh) calc_vh(20vh);
    border: 1px solid #3b3b3b;
    background-color: #212124;

    h4.stit {
        height: calc_vh(60vh);
        line-height: calc_vh(60vh);
        padding: 0 0 calc_vh(24vh) 0;
        color: #fff;
        font-size: calc_vh(56vh);
        text-align: center;
        text-transform: uppercase;
    }

    .list {
        display: flex;
        justify-content: space-between;

        li {
            overflow: hidden;
            position: relative;
            width: calc_vh(500vh);
            margin-left: calc_vh(14vh);

            .thum,
            .thum img {
                display: block;
                width: calc_vh(500vh);
                height: calc_vh(279vh);
                background-color: #000;
                vertical-align: top;
            }
            .thum img:not(.off) {
                display: none;
            }

            .thum {
                position: relative;
            }
            .mode-name,
            .mode-name > span {
                font-weight: 400;
            }
            .mode-name {
                display: flex;
                justify-content: center;
                height: calc_vh(54vh);
                line-height: calc_vh(54vh);
                font-size: calc_vh(26vh);
                background-color: #c5c5c5;
            }

            &:after {
                @extend %pointblock;
                display: none !important;
                border-color: #313131;
            }
            &:first-child {
                margin-left: 0;
            }
        }

        li.gamepad-on:after,
        li:hover:after {
            display: block !important;
        }

        li.selected {
            &:before {
                display: block;
            }
            &:after {
                display: block;
            }
            .thum img {
                display: none;
            }
            .thum img:not(.off) {
                display: block;
            }
            .mode-name {
                background-color: #313131;
                color: $point-color;
            }
        }

        li.disabled {
            pointer-events: none;
            .mode-name {
                background-color: #c7c7c7;
                color: rgba(27, 27, 27, 0.4);
            }
            &:hover:after {
                display: block;
            }
        }
    }

    .desc {
        padding-top: calc_vh(15vh);
        color: #c3c3c3;
        font-weight: 400;
        font-size: calc_vh(22vh);
    }
    .padkeyarea {
        justify-content: center;
        margin-top: calc_vh(50vh);
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: calc_vh(2vh);
        position: absolute;
        top: -1px;
        left: 0;

        background-size: 100% calc_vh(2vh);
    }
}

.block-map.show {
    display: block;
    animation: dimMotion 0.3s forwards;

    .desc {
        padding-top: calc_vh(15vh);
        color: #c3c3c3;
        font-weight: 400;
        font-size: calc_vh(22vh);
    }
    .padkeyarea {
        justify-content: center;
        margin-top: calc_vh(50vh);
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: calc_vh(2vh);
        position: absolute;
        top: -1px;
        left: 0;

        background-size: 100% calc_vh(2vh);
    }
}

.pubg-TermsOfService {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: calc_vh(52vh) calc_vh(94vh) 0;

    .stit {
        color: $point_color;
        font-size: calc_vh(70vh);
    }

    .pubg-cnt {
        .terms-text {
            position: relative;
            width: calc_vh(1240vh);
            .area {
                height: calc_vh(400vh);
                padding-right: calc_vh(20vh);
                font-size: calc_vh(26vh);
                font-weight: 400;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: calc_vh(20vh);
                background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 75%);
            }
        }
        .desc {
            margin-top: calc_vh(56vh);
            font-size: calc_vh(20vh);
            color: $point_color;
            font-weight: 400;
        }
        .pubg-btn-group {
            margin-top: calc_vh(60vh);
        }
    }
}

.received {
    text-align: center;
    .on-shop-receive-confim {
        background-color: #f2aa00;
        padding: calc_vh(16vh);
        margin-top: calc_vh(15vh);
        width: calc_vh(242vh);
        border-radius: calc_vh(35vh);
        text-align: center;
    }
}

// Custom Game Setting Save Modal On Console
.pubg-modal-savepreset.pubg-modal-alert {
    .cnt-area {
        .input-focus {
            .input {
                text-align: left;
            }
        }
    }
}
